{% extends 'base.html.twig' %}

{% block title %}Beneficios{% endblock %}

{% block body %}
    <section id="header-snrstpjf">
        <div class="text-white text-center ">
            <h2 class="m-0 header-text"></h2>
        </div>
    </section>
{% endblock %}