<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Sindicato Nacional de Renovación al Servicio de los Trabajadores del Poder Judicial Federal{% endblock %} | renovacionsindicalcjf.com</title>

        <link rel="icon" href="{{ asset('build/images/logo.svg') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-GN02GDC9M3"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-GN02GDC9M3');
            </script>
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}
    </body>
</html>
